<div class ="page-header">
  <%= link_to 'Show', @vacancy, :class=> 'btn btn-primary pull-right'%>
  <%= link_to 'Back', vacancies_path, :class=> 'btn btn-default pull-right'%>
    <h3> Editing Vacancy</h3>
</div>

<%= render 'form' %>