<div class="jumbotron hero-spacer">
    <h2><span class="label label-default"> New</span> Timesheet-manager <small>on rails</small></h2>
    <br>
    <p>Bienvenue sur le gestionnaire de timesheet, inscrivez-vous pour pouvoir commencer !</p>
    <% unless user_signed_in? %>
        <%= link_to 'Sign up', new_user_registration_path, :class=> 'btn btn-success navbar-btn' %>
    <% end %>
    
</div>

<!--
<div class="panel panel-default">
  <div class="panel-body">
    <p></p>
  </div>
</div>
-->

<footer>
    <div class="row">
        <div class="col-xs-2">
            <img src="https://travis-ci.org/jsminet/timesheet-manager.svg?branch=master" class="img-rounded pull-lg-left">
        </div>
        <div class="col-xs-5">
             <p class="text-left"><%= User.count %> utilisateur(s) actuellement enregistré(s)</p>
        </div>
        <div class="col-xs-5">
             <p class="text-right">Copyright &copy; AkaBI 2016</p>
        </div>
    </div>
</footer>
