<div class ="page-header">
  <%= link_to 'Show', @customer, :class=> 'btn btn-primary pull-right'%>
  <%= link_to 'Back', customers_path, :class=> 'btn btn-default pull-right'%>
    <h3> Editing Customer</h3>
</div>

<%= render 'form' %>