<div class="container hero-spacer">
	<div class="page-header">
	<h3>About the Website</h3>
		<p>
		This web application was created with
		<%= link_to('Rails Composer', 'http://railsapps.github.io/rails-composer/') %>
		from the <%= link_to('RailsApps project', 'http://railsapps.github.io/') %>.
		</p>
	</div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Technologies employées</div>
  <div class="panel-body">

    <div class="row">
      <div class="col-md-2"><p class="text-right"><a href="https://github.com/jsminet/timesheet-manager">GitHub</a></p></div>
      <div class="col-md-10"><p>Repository sur lequel l'application est versionnée, n'hésitez pas à faire des pull requests ;)</p></div>
    </div>

    <div class="row">
      <div class="col-md-2"><p class="text-right"><a href="https://travis-ci.org/jsminet/timesheet-manager">Travis CI </a></p> </div>
      <div class="col-md-10"><p>Système d'intégration continue, gère les build en temps réel et lance automatiquement les déploiements</p> </div>
    </div>
            
    <div class="row">
      <div class="col-md-2"><p class="text-right"><a href="https://id.heroku.com/login">Heroku </a></p> </div>
      <div class="col-md-10"><p>Plateforme d'hébergement sur le cloud sur laquelle est déployée l'application après un build réussi</p></div>
    </div>

    <div class="row">
      <div class="col-md-2"><p class="text-right"><a href="http://www.postgresql.org/">Postgres</a></p> </div>
      <div class="col-md-10"><p>Base de données en v9.4 sur laquelle repose l'application, Heroku propose gratuitement l'hébergement pour un maximum de 10.000 lignes
        et 20 connections simultanées</p></div>
    </div>

    <div class="row">
      <div class="col-md-2"><p class="text-right"><a href="http://rubyonrails.org/">Ruby on rails </a></p> </div>
      <div class="col-md-10"><p>Utilisation de rails 4.2.5 et de ruby 2.2.1p85</p></div>
    </div>

    <div class="row">
      <div class="col-md-2"><p class="text-right"><a href="https://github.com/plataformatec/devise">Gem devise </a></p> </div>
      <div class="col-md-10"><p>Système d'authentification utilisateurs</p></div>
    </div>

    <div class="row">
      <div class="col-md-2"><p class="text-right"><a href="http://getbootstrap.com/">BootStrap </a></p> </div>
      <div class="col-md-10"><p>Framework Javascript et CSS</p></div>
    </div>

  </div>
</div>