<div class ="page-header">
  <%= link_to 'Show', @country, :class=> 'btn btn-primary pull-right'%>
  <%= link_to 'Back', countries_path, :class=> 'btn btn-default pull-right'%>
    <h3> Editing Countries</h3>
</div>

<%= render 'form' %>